
      * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
        font-family: 'Roboto', sans-serif;
      }
      .star{
        color: gold;
      }

      .imagesection {
        /* border: 2px dotted red; */
        height: 8rem;
        background-color: rgb(83, 83, 83);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .imagesection .myimg {
        border: 5px dotted rgb(234, 196, 6);
        width: 6rem;
        height:auto;
        border-radius: 100%;
      }

      .addressinfo {
        margin-top: 3rem;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
      }

      .dark-line-upper {
    height: 2px;
    background-color: rgb(9, 9, 9);
    border: none;
    margin: 21px 63px;
}
      .namesection{
        display: flex;
        justify-content: center;
        
      }
      .namesection h2 {
    position: absolute;
    margin: -15px 0px;
    background-color: rgb(234, 196, 6);
    border-radius: 5px;
    padding: 3px 12px;
}

.descriptioncontainer{
  display: flex;
}

.container1 {
    border-right: 3px solid rgb(9, 9, 9);
    width: 50vw;
    height: 108vh;
}
.profile-container, .skills-container, .work-experience, .education, .projects, .hobbies{
  /* border: 2px solid black; */
  width:45vw;
  margin-top:1em;
  margin-left:1em;
}
.skills-container li {
    padding: 4px 14px;
    list-style: none;
}
.work-experience li{
  padding: 4px 14px;
  list-style: none;
}

.container2{
  /* border: 2px solid red; */
  list-style: none;
}
.education ul {
    padding: 15px 33px;
    list-style: square;
}
.projects ul {
  padding: 15px 33px;
  list-style: square;
}
.hobbies ul{
  padding: 1px 20px;
}
.dark-line {
    height: 2px;
    background-color: rgb(9, 9, 9);
    border: none;
    margin: 76px 63px;
}
    